@charset "UTF-8";
.center {
  text-align: center;
  margin: 0 auto 60px auto;
}

.flex-aic-jcsb, .help__wrap, .about__box, .intro__wrap, .header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-aic-jcc, .projects-slider__button, .works__wrap, .footer__bottom, .projects__button, .header__menu-list, .accent__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-aic-jcfs, .info__text, .contacts__bottom-social-box, .contacts__top-box, .about__desc, .services__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.flex-aifs-jcsb, .footer__wrap, .contacts__bottom-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-column-aifs-jcsb, .projects__slide-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

:root {
  --text_color:#333333;
  --light_color:#ffffff;
  --accent_color:#1889cb;
  --hover_color:#0d6da8;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

body {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  color: var(--text_color);
  font-size: 16px;
  line-height: 1.55;
  position: relative;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  font-size: 50px;
}

.accent__btn {
  background-color: var(--accent_color);
  border-radius: 10px;
  color: var(--light_color);
  width: 260px;
  padding: 10px;
  -webkit-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
}
.accent__btn:hover {
  background-color: #0d6da8;
}

.header {
  position: fixed;
  top: 0;
  padding: 5px 0;
  background-color: #f0f9ff;
  width: 100%;
  margin: 0 auto;
  z-index: 5;
}
.header__menu-list {
  gap: 50px;
}
.header__menu-list li a {
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}
.header__menu-list li a:hover {
  color: var(--accent_color);
}
.header__menu-submenu {
  position: relative;
}
.header__menu-submenu::before {
  content: "";
  position: absolute;
  top: 10px;
  right: -15px;
  width: 5px;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: var(--text_color) transparent transparent transparent;
}
.header__menu-submenu:hover::before {
  border-color: var(--hover_color) transparent transparent transparent;
}
.header__menu-second {
  display: none;
  position: absolute;
  top: 100%;
  left: -155%;
  font-size: 14px;
  background-color: var(--light_color);
  border: 1px solid var(--accent_color);
  -webkit-box-shadow: 0 0 5px var(--accent_color);
          box-shadow: 0 0 5px var(--accent_color);
  border-radius: 5px;
  width: 220px;
  padding: 20px;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
  z-index: 2;
}
.header__menu-second li + li {
  margin-top: 12px;
}
.header__menu-submenu:hover .header__menu-second {
  display: block;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}
.header__phone {
  color: var(--light_color);
  background-color: var(--accent_color);
  border: 1px solid var(--accent_color);
  border-radius: 10px;
  padding: 10px 32px;
  font-size: 14px;
  -webkit-transition: color 0.3s linear, background-color 0.3s linear;
  transition: color 0.3s linear, background-color 0.3s linear;
}
.header__phone:hover {
  color: var(--text_color);
  background-color: transparent;
}

.intro {
  padding-top: 130px;
  padding-bottom: 150px;
  background-color: #f0f9ff;
}
.intro__img {
  max-width: 460px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.intro__img::before {
  content: "";
  background-color: var(--accent_color);
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.intro__text {
  max-width: 662px;
}
.intro__label {
  margin-bottom: 20px;
}
.intro__title {
  margin-bottom: 20px;
}
.intro__desc {
  font-size: 20px;
  margin-bottom: 40px;
}
.intro__btn {
  height: 55px;
}

.services {
  margin-bottom: 150px;
}
.services__box {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 40px;
  padding: 0 20px;
}
.services__item-link {
  display: inline-block;
  max-width: 360px;
  height: 240px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
}
.services__item-link::before {
  content: "";
  background: linear-gradient(30deg, #0d6da8, #ebf7ff);
  opacity: 0.7;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.services__item-link svg {
  position: absolute;
  top: 30px;
  left: 30px;
}
.services__item-link:hover {
  -webkit-transform: rotate(-1deg);
          transform: rotate(-1deg);
}
.services__item-img {
  height: 100%;
}
.services__item-title {
  font-size: 18px;
  color: var(--light_color);
  position: absolute;
  left: 30px;
  bottom: 30px;
  max-width: 280px;
}

.about {
  margin-bottom: 150px;
}
.about__desc {
  gap: 40px;
}
.about__desc p {
  font-size: 20px;
  max-width: 560px;
}
.about__box {
  gap: 40px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.about__item {
  max-width: 360px;
  min-height: 212px;
  border: 1px solid var(--accent_color);
  border-radius: 10px;
  background: linear-gradient(30deg, #e8f6ff, #ffffff);
  padding: 28px;
}
.about__item-title {
  font-weight: 400;
  font-size: 30px;
  margin-bottom: 10px;
}
.about__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}
.about__bottom h4 {
  font-size: 20px;
  width: 100%;
}

.help {
  margin-bottom: 150px;
}
.help__wrap {
  gap: 40px;
  padding: 0 20px;
}
.help__img {
  border-radius: 10px;
  overflow: hidden;
  max-width: 460px;
  width: 100%;
}
.help__img img {
  height: 450px;
}
.help__title {
  max-width: 600px;
  margin-top: 30px;
  margin-bottom: 32px;
}
.help__desc {
  font-size: 20px;
}

.projects {
  padding-bottom: 150px;
}
.projects__slider {
  position: relative;
}
.projects__swiper {
  max-width: 1200px;
  padding: 0 20px;
  position: relative;
}
.projects__slide {
  background-color: var(--accent_color);
  border-radius: 10px;
  width: 360px;
  height: 370px;
  overflow: hidden;
}
.projects__slide-img {
  width: 360px;
  height: 235px;
}
.projects__slide-text {
  padding: 18px 20px;
  color: var(--light_color);
  height: 133px;
}
.projects__slide-title {
  font-size: 18px;
  margin-bottom: 18px;
}
.projects__slide-link {
  font-size: 16px;
  position: relative;
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear;
}
.projects__slide-link::after {
  content: "→";
  position: absolute;
  top: 50%;
  right: -23px;
  width: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.projects__slide-link:hover {
  color: var(--hover_color);
}
.projects__pagination {
  display: none;
}
.projects__button {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--accent_color);
  fill: var(--light_color);
  z-index: 1;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}
.projects__button:hover {
  background-color: var(--text_color);
}
.projects__button-prev {
  left: -25px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.projects__button-next {
  right: -25px;
}

.contacts__top-title {
  margin-bottom: 20px;
}
.contacts__desc {
  font-size: 20px;
  color: var(--text_color);
  margin-bottom: 60px;
  text-align: center;
}
.contacts__top-box {
  gap: 40px;
  margin-bottom: 150px;
}
.contacts__top-img {
  max-width: 450px;
  height: 450px;
  border-radius: 10px;
}
.contacts__top-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contacts__top-input, .contacts__top-textarea {
  color: rgb(0, 0, 0);
  border: 1px solid rgb(0, 0, 0);
  background-color: transparent;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
  padding: 15px 20px;
  width: 600px;
  cursor: pointer;
}
.contacts__top-textarea {
  padding-top: 10px;
  height: 85px;
  resize: none;
}
.contacts__top-checkbox {
  margin-right: 25px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
}
.contacts__top-checkbox::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: 2px solid #1889cb;
}
.contacts__top-checkbox:checked::after {
  content: "";
  display: block;
  background-image: url("../images/checkmark.svg");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  position: absolute;
  top: -2px;
  left: -2px;
}
.contacts__top-btn {
  display: block;
  font-size: 14px;
  color: var(--light_color);
  background-color: var(--accent_color);
  border-radius: 10px;
  width: 260px;
  padding: 14px;
  cursor: pointer;
  border: none;
  -webkit-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
}
.contacts__top-btn:hover {
  background-color: var(--hover_color);
}
.contacts__bottom-box {
  gap: 40px;
  margin-bottom: 150px;
}
.contacts__bottom-phone, .contacts__bottom-email {
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear;
}
.contacts__bottom-phone:hover, .contacts__bottom-email:hover {
  color: var(--hover_color);
}
.contacts__bottom-social-box {
  gap: 10px;
}
.contacts__bottom-social-box svg:hover .accent {
  fill: var(--hover_color);
}
.contacts__bottom-phone h4, .contacts__bottom-email h4, .contacts__bottom-social h4 {
  font-size: 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid var(--accent_color);
  width: 360px;
}

svg .accent {
  fill: var(--accent_color);
}
svg .white {
  fill: var(--light_color);
}

.privacy__policy {
  position: relative;
  font-size: 12px;
  font-weight: 100;
  color: rgb(0, 0, 0);
  margin-bottom: 20px;
  cursor: pointer;
}
.privacy__policy a {
  color: rgb(51, 51, 51);
  border-bottom: 1px solid rgb(15, 106, 163);
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}
.privacy__policy a:hover {
  color: var(--hover_color);
}

.footer {
  background-color: #0a344f;
  padding-top: 75px;
  color: var(--light_color);
  font-size: 14px;
  width:100%;
}
.footer__wrap {
  padding-bottom: 90px;
}
.footer__copy {
  font-size: 12px;
  font-weight: 100;
  margin-top: 21px;
}
.footer__item-title {
  color: #8a8a8a;
  font-size: 12px;
  font-weight: 100;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 14px;
}
.footer__menu-list li {
  max-width: 260px;
  margin-bottom: 10px;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}
.footer__menu-list li:hover {
  color: var(--accent_color);
}
.footer__line {
  background-color: #fff5ed;
  opacity: 0.2;
}
.footer__bottom {
  gap: 100px;
  min-height: 80px;
  color: #b8b8b8;
  font-size: 12px;
  font-weight: 300;
  opacity: 0.8;
}
.footer__bottom a {
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}
.footer__bottom a:hover {
  color: var(--light_color);
}

.works {
  margin-top: 150px;
  margin-bottom: 150px;
  padding-left: 20px;
  padding-right: 20px;
}
.works__wrap {
  gap: 40px;
}
.works__img {
  border-radius: 10px;
  height: 450px;
}
.works__list {
  margin-bottom: 30px;
}
.works__list-item {
  font-size: 20px;
  list-style: disc;
  margin-left: 20px;
}
.works__desc {
  font-size: 20px;
  max-width: 480px;
}

.info {
  margin-bottom: 60px;
}
.info__text {
  gap: 40px;
}
.info__desc {
  font-size: 20px;
  max-width: 560px;
  width: 100%;
}

.projects-slider {
  margin-bottom: 150px;
}
.projects-slider__swiper {
  position: relative;
  padding-bottom: 30px;
}
.projects-slider__slide {
  width: 560px;
  height: 450px;
}
.projects-slider__img {
  width: 560px;
  height: 450px;
}
.projects-slider__pagination {
  position: absolute;
  bottom: -5px !important;
}
.projects-slider__pagination span {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #c7c7c7;
  opacity: 1;
}
.projects-slider .swiper-pagination-bullet-active {
  background-color: var(--accent_color);
}
.projects-slider__button {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #f0f9ff;
  fill: var(--accent_color);
  z-index: 1;
  -webkit-transition: background-color 0.2s linear, fill 0.2s linear;
  transition: background-color 0.2s linear, fill 0.2s linear;
  cursor: pointer;
}
.projects-slider__button:hover {
  background-color: var(--accent_color);
  fill: var(--light_color);
}
.projects-slider__button-prev {
  left: 260px;
}
.projects-slider__button-next {
  right: 300px;
}

.stages-work {
  margin-bottom: 150px;
}
.stages-work__title {
  margin-bottom: 60px;
}
.stages-work__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 100px;
}
.stages-work__item {
  list-style: auto;
  -ms-flex-preferred-size: 290px;
      flex-basis: 290px;
}
.stages-work__item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background-color: var(--accent_color);
}
