@charset "UTF-8";
.center {
  text-align: center;
  margin: 0 auto 60px auto;
}

.flex-aic-jcsb, .help__wrap, .about__box, .header__wrap, .header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-aic-jcsa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.flex-aifs-jcsa, .footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.flex-aic-jcc, .projects-slider__prev, .projects-slider__next, .projects-slider__pagination, .works__wrap, .projects__button, .header__menu-list, .accent__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-aic-jcfs, .info__text, .contacts__bottom-social-box, .contacts__top-box, .about__desc, .services__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.flex-aifs-jcsb, .footer__wrap, .contacts__bottom-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-column-aifs-jcsb, .projects__slide-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

:root {
  --text_color:#333333;
  --light_color:#ffffff;
  --accent_color:#1889cb;
  --hover_color:#0d6da8;
  --header-bg_color:#f0f9ff;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:active, a:focus,
button:active,
button:focus,
input:active,
input:focus,
textarea:active,
textarea:focus {
  outline-color: var(--accent_color);
}

ul, li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

body {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  color: var(--text_color);
  font-size: 16px;
  line-height: 1.55;
  position: relative;
}

.active__page {
  color: var(--accent_color);
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  font-size: 50px;
  text-align: left;
  max-width: 800px;
  margin-bottom: 60px;
}

.accent__btn {
  background-color: var(--accent_color);
  border-radius: 10px;
  color: var(--light_color);
  width: 260px;
  padding: 10px;
  -webkit-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
}
.accent__btn:hover {
  background-color: #0d6da8;
}

.disabled {
  background-color: aqua !important;
  pointer-events: none !important;
}

.header {
  position: fixed;
  top: 0;
  padding: 0.3125rem 0;
  background-color: var(--header-bg_color);
  width: 100%;
  min-height: 4.0625rem;
  margin: 0 auto;
  z-index: 5;
}
.header__phone-menu {
  display: none;
  color: var(--light_color);
  font-size: 1.125rem;
}
.header__wrap {
  width: 100%;
}
.header__menu-list {
  gap: 3.125rem;
}
.header__menu-list li a {
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}
.header__menu-list li a:hover, .header__menu-list li a:active, .header__menu-list li a:focus {
  color: var(--accent_color);
  outline-color: var(--accent_color);
}
.header__menu-submenu {
  position: relative;
}
.header__menu-submenu::before {
  content: "";
  position: absolute;
  top: 0.625rem;
  right: -0.9375rem;
  width: 0.3125rem;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: var(--text_color) transparent transparent transparent;
}
.header__menu-submenu:hover::before {
  border-color: var(--hover_color) transparent transparent transparent;
}
.header__menu-second {
  display: none;
  position: absolute;
  top: 100%;
  left: -155%;
  font-size: 0.875rem;
  background-color: var(--light_color);
  border: 1px solid var(--accent_color);
  -webkit-box-shadow: 0 0 5px var(--accent_color);
          box-shadow: 0 0 5px var(--accent_color);
  border-radius: 0.3125rem;
  width: 13.75rem;
  padding: 1.25rem;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
  z-index: 2;
}
.header__menu-second li + li {
  margin-top: 0.75rem;
}
.header__menu-submenu:hover .header__menu-second {
  display: block;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}
.header__phone {
  color: var(--light_color);
  background-color: var(--accent_color);
  border: 1px solid var(--accent_color);
  border-radius: 0.625rem;
  padding: 0.625rem 2rem;
  font-size: 0.875rem;
  -webkit-transition: color 0.3s linear, background-color 0.3s linear;
  transition: color 0.3s linear, background-color 0.3s linear;
}
.header__phone:hover {
  color: var(--text_color);
  background-color: transparent;
}
.header__burger-menu {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1.75rem;
  height: 1.3125rem;
  background-color: transparent;
  border: none;
  position: relative;
}
.header__burger-menu::before, .header__burger-menu::after, .header__burger-menu span {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 0.1875rem;
  background-color: var(--light_color);
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
}
.header__burger-menu::before {
  top: 0;
}
.header__burger-menu::after {
  bottom: 0;
}
.header__burger-menu.active span {
  display: none;
}
.header__burger-menu.active::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0.5625rem;
}
.header__burger-menu.active::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 0.5625rem;
}

@media (max-width: 980px) {
  .header {
    position: relative;
    height: 100%;
    background-color: var(--light_color);
  }
  .header::before {
    content: "";
    position: absolute;
    top: 0;
    background-color: var(--accent_color);
    width: 100%;
    height: 70px;
  }
  .header__container {
    padding: 1.25rem 0.9375rem;
    position: relative;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .header__phone-menu {
    display: block;
    position: absolute;
  }
  .header__wrap {
    display: none;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
  }
  .header__wrap.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    height: 100%;
  }
  .header__logo {
    margin-top: 6.25rem;
    margin-bottom: 3.125rem;
  }
  .header__menu {
    padding: 0.625rem;
  }
  .header__menu-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0.9375rem;
    margin-bottom: 2.1875rem;
  }
  .header__menu-list li {
    padding: 0;
  }
  .header__menu-submenu {
    text-align: center;
  }
  .header__menu-submenu::before {
    right: -10px;
  }
  .header__menu-submenu:hover::before {
    right: 165px;
  }
  .header__menu-second {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 1rem;
    position: unset;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: none;
            box-shadow: none;
    border-radius: 0;
    width: 100%;
  }
  .header__menu-second li + li {
    margin-top: 0;
  }
  .header__menu-submenu:hover .header__menu-second {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition-delay: 1s;
            transition-delay: 1s;
  }
  .header__burger-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 1.875rem;
    position: absolute;
    right: 0;
  }
  .header__phone {
    margin-bottom: 2.1875rem;
  }
}
@media (max-width: 480px) {
  .header__menu-submenu::before {
    right: -10px;
  }
  .header__menu-submenu:hover::before {
    right: 90px;
  }
}
.intro {
  padding-top: 8.125rem;
  padding-bottom: 9.375rem;
  background-color: var(--header-bg_color);
}
.intro__wrap {
  display: grid;
  grid-template-columns: minmax(auto, 460px) 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.5rem;
}
.intro__img {
  max-width: 28.75rem;
  border-radius: 0.625rem;
  position: relative;
  overflow: hidden;
}
.intro__img::before {
  content: "";
  background-color: var(--accent_color);
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.intro__text {
  max-width: 41.375rem;
}
.intro__label {
  margin-bottom: 1.25rem;
}
.intro__title {
  margin-bottom: 1.25rem;
}
.intro__desc {
  font-size: 1.25rem;
  margin-bottom: 2.5rem;
}
.intro__btn {
  height: 3.4375rem;
}

@media (max-width: 960px) {
  .intro__wrap {
    grid-template-columns: 1fr;
    max-width: 39.375rem;
    margin: 0 auto;
  }
  .intro__img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    max-width: 25rem;
  }
}
@media (max-width: 640px) {
  .intro {
    padding-top: 3.125rem;
    padding-bottom: 5rem;
  }
  .intro__wrap {
    max-width: 31.875rem;
  }
  .intro__img {
    max-width: 20.625rem;
  }
}
@media (max-width: 480px) {
  .intro__wrap {
    max-width: 20rem;
  }
  .intro__desc {
    font-size: 1.125rem;
  }
}
.services {
  margin-bottom: 9.375rem;
}
.services__box {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2.1875rem;
}
.services__item-link {
  display: inline-block;
  max-width: 22.5rem;
  width: 100%;
  height: 15rem;
  position: relative;
  overflow: hidden;
  border-radius: 0.625rem;
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
}
.services__item-link::before {
  content: "";
  background: linear-gradient(30deg, #0d6da8, #ebf7ff);
  opacity: 0.7;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.services__item-link svg {
  position: absolute;
  top: 1.875rem;
  left: 1.875rem;
}
.services__item-link:hover {
  -webkit-transform: rotate(-1deg);
          transform: rotate(-1deg);
}
.services__item-img {
  height: 100%;
}
.services__item-title {
  font-size: 1.125rem;
  color: var(--light_color);
  position: absolute;
  left: 1.875rem;
  bottom: 1.875rem;
  max-width: 17.5rem;
}

@media (max-width: 1200px) {
  .services__box {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (max-width: 960px) {
  .services__wrap {
    max-width: 39.375rem;
    margin: 0 auto;
  }
  .services__box {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 0.625rem;
    padding: 0;
  }
  .services__item-link {
    max-width: 18.75rem;
  }
}
@media (max-width: 640px) {
  .services {
    margin-top: 3.125rem;
    margin-bottom: 5rem;
  }
  .services__wrap {
    max-width: 31.875rem;
  }
  .services__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 0.9375rem;
  }
  .services__item-link {
    max-width: 28.75rem;
    height: 11.375rem;
  }
  .services__item-link svg {
    top: 1.25rem;
    left: 1.25rem;
  }
  .services__item-img {
    width: 100%;
  }
  .services__item-title {
    max-width: 100%;
    left: 1.25rem;
    bottom: 1.25rem;
  }
}
@media (max-width: 480px) {
  .services__wrap {
    max-width: 20rem;
  }
  .services__item-link {
    max-width: 18.75rem;
    height: 11.375rem;
  }
  .services__item-link svg {
    top: 0.9375rem;
    left: 0.9375rem;
  }
  .services__item-img {
    width: 100%;
  }
  .services__item-title {
    font-size: 1rem;
    left: 0.9375rem;
    bottom: 0.9375rem;
  }
}
.about {
  margin-bottom: 9.375rem;
}
.about__desc {
  gap: 2.5rem;
}
.about__desc p {
  font-size: 1.25rem;
  max-width: 35rem;
}
.about__box {
  gap: 2.5rem;
  margin-top: 3.125rem;
  margin-bottom: 3.125rem;
}
.about__item {
  max-width: 22.5rem;
  width: 100%;
  min-height: 13.25rem;
  border: 1px solid var(--accent_color);
  border-radius: 0.625rem;
  background: linear-gradient(30deg, #e8f6ff, #ffffff);
  padding: 1.25rem;
}
.about__item-title {
  font-weight: 400;
  font-size: 1.875rem;
  margin-bottom: 0.625rem;
}
.about__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.5rem;
}
.about__bottom h4 {
  font-size: 1.25rem;
  width: 100%;
}

@media (max-width: 1200px) {
  .about__wrap {
    max-width: 62.5rem;
    margin: 0 auto;
  }
  .about__box {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 0.9375rem;
  }
  .about__item {
    max-width: 18.75rem;
    min-height: 11.3125rem;
    height: auto;
  }
  .about__item-title {
    font-size: 1.5rem;
  }
}
@media (max-width: 960px) {
  .about__wrap {
    max-width: 38.75rem;
  }
  .about__desc {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .about__box {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 0.625rem;
  }
  .about__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 640px) {
  .about {
    margin-bottom: 5rem;
  }
  .about__wrap {
    max-width: 31.875rem;
  }
  .about__desc {
    gap: 1.25rem;
  }
  .about__desc p {
    font-size: 1rem;
  }
  .about__box {
    gap: 1.5625rem;
    margin-top: 1.875rem;
    margin-bottom: 1.875rem;
  }
  .about__item {
    max-width: 28.75rem;
    min-height: 7.875rem;
  }
  .about__bottom {
    gap: 1.25rem;
  }
  .about__bottom h4 {
    font-size: 1.125rem;
  }
  .about__bottom p {
    font-size: 1rem;
  }
}
@media (max-width: 480px) {
  .about__wrap {
    max-width: 18.75rem;
  }
  .about__title {
    margin-bottom: 2.5rem;
  }
  .about__item {
    max-width: 18.75rem;
    min-height: 9.125rem;
  }
}
.help {
  margin-bottom: 9.375rem;
}
.help__wrap {
  gap: 2.5rem;
}
.help__img {
  border-radius: 0.625rem;
  overflow: hidden;
  max-width: 28.75rem;
  min-width: 23.75rem;
  width: 100%;
}
.help__img img {
  height: 28.125rem;
}
.help__title {
  max-width: 37.5rem;
  margin-top: 1.875rem;
  margin-bottom: 2rem;
}
.help__desc {
  font-size: 1.25rem;
}

@media (max-width: 960px) {
  .help__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    max-width: 39.375rem;
    margin: 0 auto;
  }
  .help__img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    max-width: 35rem;
  }
  .help__img img {
    width: 100%;
  }
}
@media (max-width: 640px) {
  .help {
    margin-bottom: 5rem;
  }
  .help__wrap {
    max-width: 31.875rem;
  }
  .help__title {
    margin-top: 0;
  }
  .help__desc {
    font-size: 1rem;
  }
  .help__img {
    max-width: 28.75rem;
  }
}
@media (max-width: 480px) {
  .help__wrap {
    max-width: 20rem;
  }
  .help__img {
    max-width: 20rem;
    min-width: 18.75rem;
    height: auto;
  }
  .help__img img {
    height: auto;
  }
}
.projects {
  padding-bottom: 9.375rem;
}
.projects__slider {
  position: relative;
}
.projects__swiper {
  max-width: 75rem;
  padding: 0 1.1875rem;
  position: relative;
}
.projects__slide {
  background-color: var(--accent_color);
  border-radius: 0.625rem;
  max-width: 22.5rem;
  height: 23.125rem;
  overflow: hidden;
}
.projects__slide-img {
  width: 100%;
  height: 50%;
}
.projects__slide-text {
  padding: 1.125rem 1.25rem;
  color: var(--light_color);
  min-height: 8.3125rem;
  height: 50%;
}
.projects__slide-title {
  font-size: 1.125rem;
  margin-bottom: 1.125rem;
}
.projects__slide-link {
  font-size: 1rem;
  position: relative;
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear;
}
.projects__slide-link::after {
  content: "→";
  position: absolute;
  top: 50%;
  right: -px-to-rem(-23);
  width: 1.25rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.projects__slide-link:hover {
  color: var(--hover_color);
}
.projects__pagination {
  display: none;
}
.projects__button {
  position: absolute;
  top: 50%;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: var(--accent_color);
  fill: var(--light_color);
  z-index: 1;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}
.projects__button:hover {
  background-color: var(--text_color);
}
.projects__button-prev {
  left: -1.5625rem;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.projects__button-next {
  right: -1.5625rem;
}

@media (max-width: 1200px) {
  .projects__swiper, .projects__slider {
    max-width: 55rem;
    margin: 0 auto;
  }
  .projects__slide {
    width: 100%;
    height: 19.625rem;
  }
}
@media (max-width: 960px) {
  .projects__swiper, .projects__slider {
    max-width: 35rem;
  }
  .projects__slide {
    height: 18.125rem;
  }
  .projects__button-prev {
    left: -1.5625rem;
  }
  .projects__button-next {
    right: -1.5625rem;
  }
}
@media (max-width: 640px) {
  .projects__swiper, .projects__slider {
    max-width: 21.25rem;
    padding-bottom: 1.875rem;
  }
  .projects__slide {
    height: 22.1875rem;
  }
  .projects__pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: -0.3125rem;
  }
  .projects__button {
    display: none;
    width: 1.5rem;
    height: 1.5rem;
  }
  .projects__button-prev {
    left: -0.625rem;
  }
  .projects__button-next {
    right: -0.625rem;
  }
}
@media (max-width: 480px) {
  .projects__swiper, .projects__slider {
    max-width: 20rem;
  }
  .projects__slide {
    height: 18.875rem;
  }
  .projects__slide-text {
    padding: 0.9375rem;
  }
}
.contacts__top-title {
  margin-bottom: 1.25rem;
}
.contacts__desc {
  font-size: 1.25rem;
  color: var(--text_color);
  margin-bottom: 3.75rem;
  text-align: left;
}
.contacts__top-box {
  gap: 2.5rem;
  margin-bottom: 9.375rem;
}
.contacts__top-img {
  max-width: 28.125rem;
  height: 28.125rem;
  border-radius: 0.625rem;
}
.contacts__top-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contacts__top-input, .contacts__top-textarea {
  color: rgb(0, 0, 0);
  border: 1px solid rgb(0, 0, 0);
  background-color: transparent;
  border-radius: 0.625rem;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1.25rem;
  padding: 0.9375rem 1.25rem;
  width: 37.5rem;
  cursor: pointer;
}
.contacts__top-textarea {
  padding-top: 0.625rem;
  height: 5.3125rem;
  resize: none;
}
.contacts__top-checkbox {
  margin-right: 1.5625rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
}
.contacts__top-checkbox::before {
  content: "";
  display: block;
  width: 1.25rem;
  height: 1.25rem;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: 2px solid #1889cb;
}
.contacts__top-checkbox:checked::after {
  content: "";
  display: block;
  background-image: url("../images/checkmark.svg");
  background-repeat: no-repeat;
  width: 1.25rem;
  height: 1.25rem;
  position: absolute;
  top: -2px;
  left: -2px;
}
.contacts__top-btn {
  display: block;
  font-size: 0.875rem;
  color: var(--light_color);
  background-color: var(--accent_color);
  border-radius: 0.625rem;
  width: 16.25rem;
  padding: 0.875rem;
  cursor: pointer;
  border: none;
  -webkit-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
}
.contacts__top-btn:hover {
  background-color: var(--hover_color);
}
.contacts__bottom-box {
  gap: 2.5rem;
  margin-bottom: 9.375rem;
}
.contacts__bottom-phone a, .contacts__bottom-email a {
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear;
}
.contacts__bottom-phone a:hover, .contacts__bottom-email a:hover {
  color: var(--hover_color);
}
.contacts__bottom-social-box {
  gap: 0.625rem;
}
.contacts__bottom-social-box svg {
  color: var(--accent_color);
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear;
}
.contacts__bottom-social-box svg:hover {
  color: var(--hover_color);
}
.contacts__bottom-box a svg:hover {
  fill: var(--hover_color);
}
.contacts__bottom-phone h4, .contacts__bottom-email h4, .contacts__bottom-social h4 {
  font-size: 1.25rem;
  margin-bottom: 0.625rem;
  border-bottom: 1px solid var(--accent_color);
  width: 22.5rem;
}

.privacy__policy {
  position: relative;
  font-size: 0.75rem;
  font-weight: 100;
  color: rgb(0, 0, 0);
  margin-bottom: 1.25rem;
  cursor: pointer;
}
.privacy__policy a {
  color: rgb(51, 51, 51);
  border-bottom: 1px solid rgb(15, 106, 163);
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}
.privacy__policy a:hover {
  color: var(--hover_color);
}

@media (max-width: 1200px) {
  .contacts__top-img {
    max-width: 23.75rem;
  }
  .contacts__top-input, .contacts__top-textarea,
.contacts .privacy__policy {
    max-width: 33.75rem;
  }
  .contacts__bottom-phone, .contacts__bottom-email, .contacts__bottom-social {
    width: 18.75rem;
    overflow: hidden;
  }
}
@media (max-width: 960px) {
  .contacts__wrap {
    max-width: 39.375rem;
    margin: 0 auto;
  }
  .contacts__top-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .contacts__top-img {
    max-width: 33.75rem;
  }
  .contacts__top-input, .contacts__top-textarea,
.contacts .privacy__policy {
    max-width: 33.75rem;
  }
  .contacts__bottom-box {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 1.875rem;
  }
  .contacts__bottom-phone, .contacts__bottom-email, .contacts__bottom-social {
    width: 18.75rem;
    overflow: hidden;
  }
}
@media (max-width: 640px) {
  .contacts {
    margin-bottom: 3.125rem;
  }
  .contacts__wrap {
    max-width: 31.875rem;
  }
  .contacts__top-box {
    margin-bottom: 5rem;
  }
  .contacts__top-img {
    max-width: 28.75rem;
  }
  .contacts__top-input, .contacts__top-textarea,
.contacts .privacy__policy {
    max-width: 28.75rem;
  }
  .contacts__top-checkbox::before {
    top: 25%;
  }
  .contacts__bottom-box {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 1.875rem;
    margin-bottom: 5rem;
  }
  .contacts__bottom-phone, .contacts__bottom-email, .contacts__bottom-social {
    width: 100%;
    overflow: visible;
  }
  .contacts__bottom-phone h4, .contacts__bottom-email h4, .contacts__bottom-social h4 {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .contacts__wrap {
    max-width: 20rem;
  }
  .contacts__desc {
    font-size: 1rem;
  }
  .contacts__top-box {
    gap: 1.25rem;
  }
  .contacts__top-img {
    max-width: 18.75rem;
    height: auto;
  }
  .contacts__top-input, .contacts__top-textarea,
.contacts .privacy__policy {
    max-width: 18.75rem;
  }
  .contacts__top-checkbox::before {
    top: 25%;
  }
  .contacts__bottom-box {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 1.875rem;
  }
  .contacts__bottom-phone, .contacts__bottom-email, .contacts__bottom-social {
    width: 100%;
    overflow: visible;
  }
  .contacts__bottom-phone h4, .contacts__bottom-email h4, .contacts__bottom-social h4 {
    width: 100%;
  }
}
.footer {
  background-color: #0a344f;
  padding-top: 4.6875rem;
  color: var(--light_color);
  font-size: 0.875rem;
}
.footer__wrap {
  padding-bottom: 5.625rem;
}
.footer__copy {
  font-size: 0.75rem;
  font-weight: 100;
  margin-top: 1.3125rem;
}
.footer__item-title {
  color: #8a8a8a;
  font-size: 0.75rem;
  font-weight: 100;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 0.875rem;
}
.footer__menu-list li {
  max-width: 16.25rem;
  margin-bottom: 0.625rem;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}
.footer__menu-list li:hover {
  color: var(--accent_color);
}
.footer__line {
  background-color: #fff5ed;
  opacity: 0.2;
}
.footer__bottom {
  gap: 0.625rem;
  min-height: 5rem;
  color: #b8b8b8;
  font-size: 0.75rem;
  font-weight: 300;
  padding: 1.25rem 0;
  opacity: 0.8;
}
.footer__bottom a {
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}
.footer__bottom a:hover {
  color: var(--light_color);
}
.footer__developer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1200px) {
  .footer__wrap {
    max-width: 60rem;
    margin: 0 auto;
    gap: 0.625rem;
  }
  .footer__item {
    -ms-flex-preferred-size: 14.375rem;
        flex-basis: 14.375rem;
  }
}
@media (max-width: 960px) {
  .footer__wrap {
    max-width: 40rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 1.875rem 0.625rem;
  }
  .footer__item {
    -ms-flex-preferred-size: 18.75rem;
        flex-basis: 18.75rem;
  }
  .footer__bottom {
    max-width: 40rem;
    margin: 0 auto;
  }
}
@media (max-width: 640px) {
  .footer__wrap {
    max-width: 31.875rem;
    row-gap: 1.875rem;
  }
  .footer__item {
    -ms-flex-preferred-size: 13.75rem;
        flex-basis: 13.75rem;
  }
  .footer__menu-list li {
    margin-bottom: 0.9375rem;
  }
  .footer__bottom {
    max-width: 31.875rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 1.25rem 2.3125rem;
  }
}
@media (max-width: 480px) {
  .footer {
    padding-top: 1.875rem;
  }
  .footer__wrap {
    max-width: 20rem;
    padding-bottom: 1.875rem;
  }
  .footer__bottom {
    max-width: 20rem;
  }
}
.works {
  margin-top: 9.375rem;
  margin-bottom: 9.375rem;
}
.works__wrap {
  gap: 2.5rem;
}
.works__img {
  border-radius: 0.625rem;
  height: 28.125rem;
}
.works__subtitle {
  font-size: 1.25rem;
  max-width: 30rem;
  margin-bottom: 1.25rem;
}
.works__list {
  margin-bottom: 1.875rem;
}
.works__list-item {
  font-size: 1.25rem;
  list-style: disc;
  margin-left: 1.25rem;
}
.works__desc {
  font-size: 1.25rem;
  max-width: 30rem;
}

@media (max-width: 960px) {
  .works__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    max-width: 39.375rem;
    margin: 0 auto;
  }
  .works__img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    max-width: 35rem;
  }
  .works__img img {
    width: 100%;
  }
}
@media (max-width: 640px) {
  .works {
    margin-top: 3.125rem;
    margin-bottom: 5rem;
  }
  .works__wrap {
    max-width: 31.875rem;
  }
  .works__title {
    margin-top: 0;
  }
  .works__subtitle {
    font-size: 1rem;
  }
  .works__list-item, .works__desc {
    font-size: 1rem;
  }
  .works__img {
    max-width: 28.75rem;
  }
}
@media (max-width: 480px) {
  .works__wrap {
    max-width: 20rem;
    gap: 20px;
  }
  .works__img {
    max-width: 18.75rem;
    min-width: 18.75rem;
    height: auto;
  }
  .works__img img {
    height: auto;
  }
}
.info {
  margin-bottom: 3.75rem;
}
.info__text {
  gap: 2.5rem;
}
.info__desc {
  font-size: 1.25rem;
  max-width: 35rem;
  width: 100%;
}

@media (max-width: 960px) {
  .info__text {
    max-width: 38.75rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .info__desc {
    max-width: 100%;
  }
}
@media (max-width: 640px) {
  .info {
    margin-bottom: 5rem;
  }
  .info__text {
    max-width: 31.875rem;
    gap: 1.875rem;
  }
}
@media (max-width: 480px) {
  .info__text {
    max-width: 18.75rem;
    gap: 1.25rem;
  }
  .info__desc {
    font-size: 1rem;
  }
}
.projects-slider .slider {
  position: relative;
}
.projects-slider__swiper {
  overflow: hidden;
}
.projects-slider__wrap {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.projects-slider__slide {
  width: clamp(18.75rem, 12.841rem + 29.55vw, 35rem);
  height: clamp(18.75rem, 15.341rem + 17.05vw, 28.125rem);
}
.projects-slider__slide img {
  width: 100%;
  height: 100%;
}
.projects-slider__pagination {
  gap: 10px;
  margin-top: 15px;
}
.projects-slider__pagination span {
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #c7c7c7;
}
.projects-slider .swiper-pagination-bullet-active {
  background-color: var(--accent_color);
}
.projects-slider__buttons {
  position: absolute;
  top: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: clamp(11.25rem, -2.386rem + 68.18vw, 48.75rem);
  width: 100%;
}
@media (max-width: 960px) {
  .projects-slider__buttons {
    gap: clamp(11.25rem, -1.477rem + 63.64vw, 46.25rem);
  }
}
@media (max-width: 640px) {
  .projects-slider__buttons {
    display: none;
  }
}
.projects-slider__prev {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.projects-slider__prev, .projects-slider__next {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: rgb(240, 249, 255);
  fill: var(--accent_color);
  -webkit-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
}
.projects-slider__prev svg, .projects-slider__next svg {
  width: 10px;
  height: 16px;
  -webkit-transition: fill 0.3s linear;
  transition: fill 0.3s linear;
}
.projects-slider__prev:hover, .projects-slider__next:hover {
  fill: var(--light_color);
  background-color: var(--accent_color);
}

.stages-work {
  margin-bottom: 9.375rem;
}
.stages-work__title {
  margin-bottom: 3.75rem;
}
.stages-work__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.875rem;
  counter-reset: num;
}
.stages-work__item {
  position: relative;
  font-size: 1.125rem;
  font-weight: 700;
  padding-left: 3.75rem;
}
.stages-work__item::before {
  content: counter(num);
  counter-increment: num;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 2.875rem;
  height: 2.875rem;
  border-radius: 50%;
  background: var(--accent_color);
  color: var(--light_color);
  text-align: center;
  line-height: 2.875rem;
  font-size: 1.25rem;
}

@media (max-width: 1200px) {
  .stages-work__list {
    max-width: 60rem;
  }
}
@media (max-width: 960px) {
  .stages-work__list {
    grid-template-columns: 1fr;
    row-gap: 2.5rem;
    max-width: 39.375rem;
  }
}
@media (max-width: 640px) {
  .stages-work {
    margin-bottom: 5rem;
  }
  .stages-work__item {
    font-size: 1rem;
    padding-left: 2.8125rem;
  }
  .stages-work__item::before {
    font-size: 1rem;
    line-height: 2.1875rem;
    width: 2.1875rem;
    height: 2.1875rem;
  }
}
@media (max-width: 480px) {
  .stages-work__list {
    row-gap: 1.5625rem;
  }
}
.privacy-policy__title {
  font-size: 30px;
  margin-bottom: 60px;
}

@media (max-width: 640px) {
  .privacy-polic__title {
    margin-bottom: 10px;
  }
}
.agreement {
  color: var(--text_color);
}
.agreement__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.agreement__title {
  font-size: 30px;
  margin-bottom: 60px;
}
.agreement__list {
  padding-left: 20px;
}
.agreement__list p {
  margin-left: -20px;
}
.agreement__item {
  list-style: disc;
}

@media (max-width: 640px) {
  .agreement__title {
    margin-bottom: 10px;
  }
}
.none {
  display: none;
}

@media (max-width: 960px) {
  .container {
    max-width: 41.25rem;
  }
}
@media (max-width: 640px) {
  .container {
    max-width: 31.875rem;
  }
  .title {
    font-size: 40px;
    margin-bottom: 30px;
  }
}
@media (max-width: 480px) {
  .container {
    max-width: 21.875rem;
    padding: 0 10px;
  }
  .title {
    font-size: 30px;
  }
}