.about{
  margin-bottom: px-to-rem(150);
  &__desc{
    @extend .flex-aic-jcfs;
    gap: px-to-rem(40);
  }
  &__desc p{
    font-size: px-to-rem(20);
    max-width: px-to-rem(560);
  }
  &__box{
    @extend .flex-aic-jcsb;
    gap: px-to-rem(40);
    margin-top: px-to-rem(50);
    margin-bottom: px-to-rem(50);
  }
  &__item{
    max-width: px-to-rem(360);
    width: 100%;
    min-height: px-to-rem(212);
    border: 1px solid var(--accent_color);
    border-radius: px-to-rem(10);
    background: linear-gradient(30deg,#e8f6ff, #ffffff);
    padding: px-to-rem(20);
  }
  &__item-title{
    font-weight: 400;
    font-size: px-to-rem(30);
    margin-bottom: px-to-rem(10);
  }
  &__bottom{
    display: flex;
    gap: px-to-rem(40);
  }
  &__bottom h4{
    font-size: px-to-rem(20);
    width: 100%;
  }
}

@media(max-width:1200px){
  .about{
    &__wrap{
      max-width: px-to-rem(1000);
      margin: 0 auto;
    }
    &__box{
      justify-content: space-between;
      gap: px-to-rem(15);
    }
    &__item{
      max-width: px-to-rem(300);
      min-height: px-to-rem(181);
      height: auto;
    }
    &__item-title{
      font-size: px-to-rem(24);
    }
  }
}
@media(max-width:960px){
  .about{
    &__wrap{
      max-width: px-to-rem(620);
    }
    &__desc{
      flex-direction: column;
      align-items: flex-start;
    }
    &__box{
      justify-content: flex-start;
      flex-wrap: wrap;
      gap: px-to-rem(10);
    }
    &__bottom{
      flex-direction: column;
    }
  }
}
@media(max-width:640px){
  .about{
    margin-bottom: px-to-rem(80);
    &__wrap{
      max-width: px-to-rem(510);
    }
    &__desc{
      gap: px-to-rem(20);
    }
    &__desc p{
      font-size: px-to-rem(16);
    }
    &__box{
      gap: px-to-rem(25);
      margin-top: px-to-rem(30);
      margin-bottom: px-to-rem(30);
    }
    &__item{
      max-width: px-to-rem(460);
      min-height: px-to-rem(126);
    }
    &__bottom{
      gap: px-to-rem(20);
      h4{
        font-size: px-to-rem(18);
      }
      p{
        font-size: px-to-rem(16);
      }
    }
  }
}
@media(max-width:480px){
  .about{
    &__wrap{
      max-width: px-to-rem(300);
    }
    &__title{
      margin-bottom: px-to-rem(40);
    }
    &__item{
      max-width: px-to-rem(300);
      min-height: px-to-rem(146);
    }
  }
}