.contacts {
  &__top-title {
    margin-bottom: 20px;
  }
  &__desc {
    font-size: 20px;
    color: var(--text_color);
    margin-bottom: 60px;
    text-align: center;
  }
  &__top-box {
    @extend .flex-aic-jcfs;
    gap: 40px;
    margin-bottom: 150px;
  }
  &__top-img{
    max-width: 450px;
    height: 450px;
    border-radius: 10px;
  }
  &__top-form {
    display: flex;
    flex-direction: column;
  }
  &__top-input, 
  &__top-textarea{
    color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
    background-color: transparent;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
    padding: 15px 20px;
    width: 600px;
    cursor: pointer;
  }
  &__top-textarea{
    padding-top: 10px;
    height: 85px;
    resize: none;
  }
  &__top-checkbox{
    margin-right: 25px;
    appearance: none;
    cursor: pointer;
    &::before{
      content: "";
      display: block;
      width: 20px;
      height: 20px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      border: 2px solid #1889cb;
    }
    &:checked::after{
      content: "";
      display: block;
      background-image: url('../images/checkmark.svg');
      background-repeat: no-repeat;
      width: 20px;
      height: 20px;
      position: absolute;
      top: -2px;
      left: -2px;
    }
  }
  &__top-btn{
    display: block;
    font-size: 14px;
    color: var(--light_color);
    background-color: var(--accent_color);
    border-radius: 10px;
    width: 260px;
    padding: 14px;
    cursor: pointer;
    border:none;
    transition: background-color .3s linear;
    &:hover{
      background-color: var(--hover_color);
    }
  }
  &__bottom-box{
    @extend .flex-aifs-jcsb;
    gap: 40px;
    margin-bottom: 150px;
  }
  &__bottom-phone, &__bottom-email{
    transition: color .3s linear;
    &:hover{
      color: var(--hover_color);
    }
  }
  &__bottom-social-box{
    @extend .flex-aic-jcfs;
    gap: 10px;
    svg{
      &:hover .accent{
        fill: var(--hover_color);
      }
    }
  }
  &__bottom-phone h4, &__bottom-email h4, &__bottom-social h4{
    font-size: 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--accent_color);
    width: 360px;
  }
}

svg{
  .accent{
    fill: var(--accent_color);
  }
  .white{
    fill:var(--light_color);
  }
}

.privacy {
  &__policy {
    position: relative;
    font-size: 12px;
    font-weight: 100;
    color: rgb(0, 0, 0);
    margin-bottom: 20px;
    cursor: pointer;
    a{
      color: rgb(51, 51, 51);
      border-bottom: 1px solid rgb(15, 106, 163);
      transition: color .2s linear;
      &:hover{
        color: var(--hover_color);
      }
    }
  }
}
