.intro{
  padding-top: px-to-rem(130);
  padding-bottom: px-to-rem(150);
  background-color: var(--header-bg_color);
  &__wrap{
    display: grid;
    grid-template-columns: minmax(auto, 460px)1fr;
    align-items: center;
    gap: px-to-rem(40);
  }
  &__img{
    max-width: px-to-rem(460);
    border-radius: px-to-rem(10);
    position: relative;
    overflow: hidden;
    &::before{
      content:'';
      background-color: var(--accent_color) ;
      opacity: .3;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
  &__text{
    max-width: px-to-rem(662);
  }
  &__label{
    margin-bottom: px-to-rem(20);
  }
  &__title{
    margin-bottom: px-to-rem(20);
  }
  &__desc{
    font-size: px-to-rem(20);
    margin-bottom: px-to-rem(40);
  }
  &__btn{
    height: px-to-rem(55);
  }
}



@media(max-width:960px){
  .intro{
    &__wrap{
      grid-template-columns: 1fr;
      max-width: px-to-rem(630);
      margin: 0 auto;
    }
    &__img{
      order: 1;
      max-width: px-to-rem(400);
    }
  }
}
@media(max-width:640px){
  .intro{
    padding-top: px-to-rem(50);
    padding-bottom: px-to-rem(80);
    &__wrap{
      max-width: px-to-rem(510);
    }
    &__img{
      max-width: px-to-rem(330);
    }
  }
}
@media(max-width:480px){
  .intro{
    &__wrap{
      max-width: px-to-rem(320);
    }
    &__desc{
      font-size: px-to-rem(18);
    }
  }
}