.projects {
  padding-bottom: 150px;
  &__slider{
    position: relative;
  }
  &__swiper {
    max-width: 1200px;
    padding: 0 20px;
    position: relative;
  }
  &__slide {
    background-color: var(--accent_color);
    border-radius: 10px;
    width: 360px;
    height: 370px;
    overflow: hidden;
  }
  &__slide-img {
    width: 360px;
    height: 235px;
  }
  &__slide-text {
    @extend .flex-column-aifs-jcsb;
    padding: 18px 20px;
    color: var(--light_color);
    height: 133px;
  }
  &__slide-title {
    font-size: 18px;
    margin-bottom: 18px;
  }
  &__slide-link {
    font-size: 16px;
    position: relative;
    &::after{
      content:'→';
      position: absolute;
      top: 50%;
      right: -23px;
      width: 20px;
      transform: translateY(-50%);
    }
  }
  &__pagination{
    display: none;
  }
  &__button{
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--accent_color);
    fill: var(--light_color);
    @extend .flex-aic-jcc;
    z-index: 1;
    &:hover{
      background-color:#0d6da8;
    }
  }
  &__button-prev{
    left: -40px;
    transform: rotate(180deg);
  }
  &__button-next{
    right: -40px;
  }
}

