.projects-slider {
  margin-bottom: 150px;
  &__title{
    margin-bottom: 60px;
  }
  &__swiper {
    position: relative;
    padding-bottom: 30px;
  }
  &__slide {
    width: 560px;
    height: 450px;
  }
  &__img {
    width: 560px;
    height: 450px;
  }
  &__pagination{
    position: absolute;
    bottom: -5px!important;
    display: flex;
    justify-content: center;
  }
  
  &__pagination.swiper-pagination-bullet-active {
    background-color: var(--accent_color)!important;
  }
  &__pagination span {
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }
  &__button{
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #f0f9ff;
    fill: var(--accent_color);
    @extend .flex-aic-jcc;
    z-index: 1;
    transition: background-color .2s linear, fill .2s linear;
    cursor: pointer;
    &:hover{
      background-color:var(--accent_color);
      fill: var(--light_color);
    }
  }
  &__button-prev {
    left: 260px;
  }
  &__button-next {
    right: 300px;
  }
}

@media(max-width:1200px){
  .projects-slider{
    max-width: 100%;
    &__slide{
      width: 660px!important;
      height: 370px;
      img{
        width: 560px;
        height: 100%;
        margin: 0 auto;
      }
    }
    &__pagination{
      bottom: 0!important;
    }
    &__button-prev {
      left: 250px;
    }
    &__button-next {
      right: 245px;
    }
  }
}
@media(max-width:960px){
  .projects-slider{
    max-width: 100%;
    &__slide{
      background-position: center;
      max-width: 540px!important;
      width: 100%!important;
      max-height: 340px;
      img{
        width: 420px;
        height: 100%;
        margin: 0 auto;
      }
    }
    // &__pagination{
    //   bottom: 0!important;
    // }
    // &__button-prev {
    //   left: 250px;
    // }
    // &__button-next {
    //   right: 245px;
    // }
  }
}