.projects-slider {
  margin-bottom: 150px;
  &__title{
    margin-bottom: 60px;
  }
  &__swiper {
    position: relative;
    padding-bottom: 30px;
  }
  &__slide {
    width: 560px;
    height: 450px;
  }
  &__img {
    width: 560px;
    height: 450px;
  }
  &__pagination{
    position: absolute;
    bottom: -5px!important;
  }
  
  &__pagination.swiper-pagination-bullet-active {
    background-color: var(--accent_color)!important;
  }
  &__pagination span {
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }
  &__button{
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #f0f9ff;
    fill: var(--accent_color);
    @extend .flex-aic-jcc;
    z-index: 1;
    transition: background-color .2s linear, fill .2s linear;
    cursor: pointer;
    &:hover{
      background-color:var(--accent_color);
      fill: var(--light_color);
    }
  }
  &__button-prev {
    left: 260px;
  }
  &__button-next {
    right: 300px;
  }
}

@media(max-width:1200px){
  .projects-slider{
    max-width: 100%;
    &__slide,
    &__slide img{
      width: 460px;
      height: 370px;
    }
    &__pagination{
      bottom: 75px!important;
    }
    &__button-prev {
      left: 250px;
    }
    &__button-next {
      right: 245px;
    }
  }
}