// @function px-to-rem($size, $basicSize: 16px) {
//   @return $size / $basicSize#{rem};
// }

@function px-to-rem($value) {
  $remValue: ($value / 16) + rem; 
  @return $remValue;
}

.center{
  text-align: center;
  // max-width: 700px;
  margin: 0 auto 60px auto;
}
.flex-aic-jcsb{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex-aic-jcc{
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-aic-jcfs{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.flex-aifs-jcsb{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.flex-column-aifs-jcsb{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}