.stages-work {
  margin-bottom: px-to-rem(150);
  &__title {
    margin-bottom: px-to-rem(60);
  }
  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: px-to-rem(30);
    counter-reset: num;
  }
  &__item {
    position: relative;
    font-size: px-to-rem(18);
    font-weight: 700;
    padding-left: px-to-rem(60);
    &::before{
      content: counter(num); 
      counter-increment: num;
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      width: px-to-rem(46);
      height: px-to-rem(46);
      border-radius: 50%;
      background:  var(--accent_color);
      color:  var(--light_color);
      text-align: center;
      line-height: px-to-rem(46);
      font-size: px-to-rem(20);
    }
  }
}

@media(max-width:1200px){
  .stages-work{
    &__list{
      max-width: px-to-rem(960);
    }
  }
}
@media(max-width:960px){
  .stages-work{
    &__list{
      grid-template-columns: 1fr;
      row-gap: px-to-rem(40);
      max-width: px-to-rem(630);
    }
  }
}
@media(max-width:640px){
  .stages-work{
    margin-bottom: px-to-rem(80);
    &__item{
      font-size: px-to-rem(16);
      padding-left: px-to-rem(45);
      &::before{
        font-size: px-to-rem(16);
        line-height: px-to-rem(35);
        width: px-to-rem(35);
        height: px-to-rem(35);
      }
    }
  }
}
@media(max-width:480px){
  .stages-work{
    &__list{
      row-gap: px-to-rem(25);
    }
  }
}