.stages-work {
  margin-bottom: 150px;
  &__title {
    margin-bottom: 60px;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    gap: 15px;
    counter-reset: num;
  }
  &__item {
    position: relative;
    padding-left: 70px;
    flex-basis: 27%;
    &::before{
      content: counter(num); 
      counter-increment: num;
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      width: 46px;
      height: 46px;
      border-radius: 50%;
      background:  var(--accent_color);
      color:  var(--light_color);
      text-align: center;
      line-height: 46px;
      font-size: 20px;
    }
  }
}
